n8n_workflow.json
{
  "name": "Fearless Document Formatter",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "format-document",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "text-input",
              "name": "text",
              "value": "={{ $json.body.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "extract-text",
      "name": "Extract Text Input",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [450, 300]
    },
    {
      "parameters": {
        "url": "http://fearless-docx-service:5000/generate-document",
        "authentication": "none",
        "requestMethod": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "={{ $json.text }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "call-python-service",
      "name": "Generate Branded Document",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [650, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.headers['content-type'] }}",
              "operation": "contains",
              "value2": "application/vnd.openxmlformats"
            }
          ]
        }
      },
      "id": "check-success",
      "name": "Check If Document Created",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [850, 300]
    },
    {
      "parameters": {
        "respondWith": "binary",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/vnd.openxmlformats-officedocument.wordprocessingml.document"
              },
              {
                "name": "Content-Disposition",
                "value": "attachment; filename=fearless_branded_document.docx"
              }
            ]
          }
        }
      },
      "id": "success-response",
      "name": "Return Document",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1050, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"error\": \"Failed to generate document\", \"details\": $json } }}",
        "options": {
          "responseCode": 500
        }
      },
      "id": "error-response",
      "name": "Return Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1050, 400]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Extract Text Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Text Input": {
      "main": [
        [
          {
            "node": "Generate Branded Document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Branded Document": {
      "main": [
        [
          {
            "node": "Check If Document Created",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check If Document Created": {
      "main": [
        [
          {
            "node": "Return Document",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Return Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
